<style>
  .borderless td,
  .borderless th {
    border: none;
  }
</style>

<div class="container">
  <h3 class="card-title my-4 text-center">Order List</h3>
  <app-date-selector></app-date-selector>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mt-2" *ngFor="let order of orders | async; let i = index">
          <div class="card-body">
            <h5 class="card-title">
              <span class="badge badge-secondary">#{{i}}</span>
            </h5>
            <table class="card-table table">
              <thead>
                <tr>
                  <th class="text-center align-top">Type</th>
                  <th class="text-center align-top">Volume (liters)</th>
                  <th class="text-center align-top">Sugar</th>
                  <th class="text-center align-top">Milk</th>
                  <th class="text-center align-top">Cup Cap</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center align-middle">{{ order?.coffeeType }}</td>
                  <td class="text-center align-middle">{{ order?.coffeeVolume | number: "4." }}</td>
                  <td class="text-center align-middle">{{ order?.sugarTeaspoons | number }}</td>
                  <td class="text-center align-middle">{{ order?.hasMilk ? "Has" : "Not" }}</td>
                  <td class="text-center align-middle">{{ order?.hasCupCap ? "Has" : "Not"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- end of card body -->
      </div>
    </div>
  </div>
</div>
