<div class="row justify-content-md-center">
  <div class="col col-lg-2 d-flex justify-content-end">
    <!-- reset -->
    <button type="button" class="btn btn-light p-0 mx-2">
      <span class="material-icons align-middle text-center" (click)="refresh()"
        >refresh</span
      >
    </button>

    <!-- left arrow -->
    <button type="button" class="btn btn-light p-0">
      <span class="material-icons align-middle text-center" (click)="go(-1)">
        chevron_left
      </span>
    </button>
  </div>

  <div class="col col-lg-2 text-center">
    <span class="text-middle">
      {{ dateService.date | async | moment }}
    </span>
  </div>

  <!-- right arrow -->
  <div class="col col-lg-2 d-flex justify-content-start">
    <button type="button" class="btn btn-light p-0">
      <span class="material-icons align-middle text-center" (click)="go(1)">
        chevron_right
      </span>
    </button>
  </div>
</div>
