<div class="d-flex justify-content-center">
  <div class="text-center col-md-6">
    <div class="alert alert-success m-3" role="alert">
      Your order has been successfully added!
    </div>

    <div class="mt-4">
      <h1>Thank you for the order :D</h1>
      <br />

      <button
        routerLink=""
        class="btn btn-outline-primary btn-lg m-1"
        type="button">
        New Order
      </button>

      <button
        routerLink="/data-list"
        class="btn btn-outline-info btn-lg m-1">
        Order List
      </button>
    </div>
  </div>
</div>
